name: cd

on:
  tags:
    - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Install golangci-lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.45.0
      - name: Verify Go modules
        run: |
          go mod download
          go mod verify
          go mod tidy
      - name: Build and package
        run: make package

      - name: Save cache
        uses: actions/cache@v2
        with:
          path: build
          key: go-mod-v1-${{ hashFiles('**/go.sum') }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Build artifacts
          path: build
  publish-github-release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Attach workspace
        uses: actions/attach-workspace@v2

      - name: Publish Release on GitHub
        run: |
          ghr -t ${{ secrets.GITHUB_TOKEN }} -u ${{ github.repository_owner }} -r ${{ github.repository }} -c ${{ github.sha }} -delete ${{ github.ref }} ./build
